  /* Footer */
  footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #35434e;
    text-align: center;
  }
  footer p{
    color: #ffffff;
    text-align: center;
  }