body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2rem;
    color: #35434e;
    text-align: center;
    padding: 1rem 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    color: #35434e;
    text-transform: capitalize;
  }
  
  p {
    margin: 0;
    color: #555;
  }
  p .description {
    margin: 0;
    color: #555;
    font-style: oblique;
  }